@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

p {
  font-family: var(--font-quicksand);
}

h1 {
  @apply text-2xl;
}

article p {
  @apply text-base font-extralight mb-2;
}
